.favourites-title {
  font-size: 3rem;
  color: whitesmoke;
  margin-top: 5rem;
  -webkit-text-stroke: 0.5px #893ca3;
  text-shadow: 2px 2px 2px #893ca3, 3px 3px 3px #3a1845, 10px 10px 15px black;
}
.favourites-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.no-favourites {
  font-size: 2rem;
  color: whitesmoke;

  transform: translate(0, 500%);
  -webkit-text-stroke: 0.5px #893ca3;
  text-shadow: 2px 2px 2px #893ca3, 3px 3px 3px #3a1845, 10px 10px 15px black;
}
.favourites-list {
  display: flex;
  margin: 2rem 5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 2rem;
}
