.ingredients-page {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  position: relative;
}
.ingredients-page-top-part {
  height: 100vh;
}
.ingredients-page-bottom-part {
  height: calc(100vh - 100vh);
  padding: 0rem 0.5rem;
}
.ingredients-container {
  position: absolute;
  right: 0;
  top: 10vh;
  height: 80vh;
  width: 46vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ingredients-container-title {
  font-size: 3rem;
  text-align: center;
  color: white;
  transform: translate(0%, 10%);
  text-shadow: 1rem 1rem 1rem black;
}
.bases {
  width: 40vw;
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.svg-container {
  position: absolute;
  top: 10vh;
  width: 50vw;
}
.cocktail-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6rem;
}
