.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.profile-section-label {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  position: absolute;
  top: 20%;
}
.profile-section-email {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  position: absolute;
  top: 32%;
}
.profile-button {
  width: 8rem;
  height: 2.5rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  border: 0.1rem solid white;
  border-radius: 0.5rem;
  background: linear-gradient(0deg, #3a1845, #404040);
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.profile-button-label {
  margin-top: 5rem;
}
