.base-container {
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.base-container-title {
  font-size: 2rem;
  text-align: center;
  transform: translateY(300%);
  width: 8rem;
  color: white;
}
.base-container-img {
  filter: drop-shadow(0rem 0rem 3rem rgb(91, 27, 97));
  transform: scale(0.45) translateY(30%);
  z-index: 3;
}
.base-container:hover {
  filter: drop-shadow(0rem 0rem 3rem aqua);
}
/* .base-container:hover {
  -webkit-animation: input-shadow ease-in-out 1s infinite;
  animation: input-shadow ease-in-out 1s infinite;
} */
/* @keyframes input-shadow {
  0% {
    filter: drop-shadow (none);
  }
  50% {
    filter: drop-shadow (0rem 0rem 0rem rgba(184, 28, 232, 1));
  }
  100% {
    filter: drop-shadow (none);
  }
} */
/* @keyframes input-shadow {
  0% {
    drop-shadow: none;
  }
  50% {
    drop-shadow: 0rem 0rem 1rem rgba(184, 28, 232, 1);
  }
  100% {
    drop-shadow: none;
  }
} */
