.random-cocktail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.random-cocktail-img {
  border-radius: 1rem;
  border: 0.5rem solid #6b2c80;
  margin: 0rem 1rem;
  width: 15vw;
  box-shadow: 0rem 0rem 3.5rem rgba(198, 185, 202, 0.8);
  z-index: 3;
}
.random-cocktail-img:hover {
  border-color: whitesmoke;
  border-style: double;
  border-width: 0.5rem;
}
.random-cocktail-title,
.random-cocktail-category {
  color: white;
  text-align: center;
}
.random-cocktail-title {
  margin: 0.2rem 1rem;
  font-size: 2rem;
  -webkit-text-stroke: 0.5px black;
  text-shadow: 0.5px 0.5px 50px rgb(255, 255, 255), 1rem 1rem 0.5rem black;
}
.random-cocktail-category {
  margin: 1rem 0rem;
}
.random-cocktail:hover .random-cocktail-title {
  color: aquamarine;
}
