.cocktail-page {
  position: relative;
  justify-content: center;
  height: 150vh;
}
.cocktail-container {
  position: absolute;
  top: 20vh;
  height: 115vh;
  width: 80vw;
  border-radius: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}
.cocktail-page-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  transform: translate(0%, 120%);
  width: 50vw;
}
.cocktail-page-title {
  font-size: 3.8rem;
  color: #6b2c80;
  margin-bottom: 1rem;
  text-align: center;
  -webkit-text-stroke: 0.1px white;
  text-shadow: 2px 2px 2px white, 10px 10px 10px black;
}
