/* cocktail details page //  */
.cocktail-details-page {
  width: 100vw;
  height: 150vh;
  position: absolute;
  display: flex;
  top: 0vh;
  background-color: #202020fa;
  z-index: 5;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cocktail-details {
  text-align: center;
  transform: translateY(-150%);
  z-index: 2;
}
.close-cocktail-details {
  position: absolute;
  top: 15vh;
  right: 10vw;
  width: 4rem;
  height: 3rem;
  background-color: #893ca3;
  color: white;
  border-radius: 0.5rem;
  z-index: 99;
}

.heart-cocktail-details {
  position: absolute;
  top: 15vh;
  left: 3vw;
  width: 4rem;
  height: 3.5rem;
  background-color: #893ca3;
  color: white;
  font-size: 2.2rem;
  border-radius: 0.5rem;
  z-index: 99;
}
.heart-cocktail-details:hover {
  border-color: whitesmoke;
  border-style: double;
  border-width: 0.3rem;
  background-color: #411d4d;
  color: aqua;
}
.heart-cocktail-details:focus {
  color: red;
  clip-path: circle(35% at 50% 50%);
}
.close-cocktail-details:hover {
  width: 4.2rem;
  height: 3.2rem;
  border-color: whitesmoke;
  border-style: double;
  border-width: 0.5rem;
  background-color: #411d4d;
  color: aqua;
}
.cocktail-preview-and-instructions {
  display: flex;
  justify-content: center;
  align-self: center;
  transform: translateY(-50%);
  background-color: #202020;
  border-radius: 2rem;
}
.cocktails-details-category {
  font-size: 2rem;
  color: whitesmoke;
}
.cocktails-details-title {
  font-size: 3rem;
  color: whitesmoke;
}
.cocktails-details-alcoholic {
  font-size: 1.5rem;
  color: whitesmoke;
  text-decoration: underline blink #764c85 0.35rem;
}
.cocktail-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 45vw;
}
.cocktail-preview-img {
  opacity: 0x;
  transform: scale(0.7);
  border-radius: 5rem;
  max-width: 50vw;
  border: 0.5rem solid black;
  box-shadow: 0.5rem 0.5rem 4.5rem #c6b9ca;
}
.glass-type {
  color: #6b2c80;
  background-color: #202020;
  padding: 0rem 1rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 2rem;
  position: absolute;
  bottom: 0vh;
}
